/*============================================*/
body {
  font-size: 20px;
}
/*============================================*/
/*color*/
body {
  background-color: #ffffff;
  color: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}
/*============================================*/
